:root {
    --global-height-nav: 64px;
    --global-height-breadcrumbs: 33px;
    --global-height-navPromo: 65px;
    --feds-totalheight-nav: calc(var(--feds-height-nav, --global-height-nav) + var(--feds-height-breadcrumbs, --global-height-breadcrumbs));
    --link-color: #035fe6;
    --link-hover-color: #136ff6;
    --link-color-dark: #1473E6;
    --link-hover-color-dark: #0d66d0;
    --background-color: #fff;
    --overlay-background-color: #ffffff20;
    --highlight-background-color: #ffffff40;
    --text-color: #2c2c2c;
    --color-white: #FFF;
    --color-gray-100: #F8F8F8;
    --color-gray-200: #E8E8E8;
    --color-gray-300: #D4D4D4;
    --color-gray-400: #B6B6B6;
    --color-gray-500: #909090;
    --color-gray-600: #686868;
    --color-gray-700: #444;
    --color-gray-800: #242424;
    --color-black: #000;
    --color-brand-title: #000B1D;
    --color-accent: var(--link-color-dark);
    --color-accent-hover: var(--link-hover-color-dark);
    --color-accent-down: #095aba;
    --color-accent-focus-ring: #378ef0;
    --color-info-accent: #5C5CE0;
    --color-info-accent-hover: #4646C6;
    --color-info-accent-down: #3D3DB4;
    --color-info-accent-light: #DEDEF9;
    --color-bg-gradient-pink: rgba(238,174,202,1);
    --color-bg-gradient-blue: rgba(148,187,233,1);
    --color-bg-brick-triple-green: #68f08e;
    --color-bg-brick-triple-orange: #f19602;
    --color-bg-brick-triple-offWhite: #ffe4e1;
    --color-bg-gradient-circle: radial-gradient(circle, var(--color-bg-gradient-pink) 0%, var(--color-bg-gradient-blue) 100%);
    --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-s: 24px;
    --spacing-m: 32px;
    --spacing-l: 40px;
    --spacing-xl: 48px;
    --spacing-xxl: 56px;
    --spacing-xxxl: 80px;
    --spacing-xl-static: 56px;
    --spacing-xxl-static: 80px;
    --spacing-xxxl-static: 104px;
    --type-heading-all-weight: 700;
    --type-heading-xxxl-size: calc(var(--font-size-multiplier, 1) * 44px);
    --type-heading-xxxl-lh: 55px;
    --type-heading-xxl-size: calc(var(--font-size-multiplier, 1) * 36px);
    --type-heading-xxl-lh: 45px;
    --type-heading-xl-size: calc(var(--font-size-multiplier, 1) * 28px);
    --type-heading-xl-lh: 35px;
    --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 24px);
    --type-heading-l-lh: 30px;
    --type-heading-m-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-heading-m-lh: 25px;
    --type-heading-s-size: calc(var(--font-size-multiplier, 1) * 18px);
    --type-heading-s-lh: 22.5px;
    --type-heading-xs-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-heading-xs-lh: 20px;
    --type-heading-xxs-size: calc(var(--font-size-multiplier, 1) * 14px);
    --type-heading-xxs-lh: 18px;
    --type-heading-base-lh: 1.2;
    --type-body-xxl-size: calc(var(--font-size-multiplier, 1) * 28px);
    --type-body-xxl-lh: 42px;
    --type-body-xl-size: calc(var(--font-size-multiplier, 1) * 22px);
    --type-body-xl-lh: 33px;
    --type-body-l-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-body-l-lh: 30px;
    --type-body-m-size: calc(var(--font-size-multiplier, 1) * 18px);
    --type-body-m-lh: 27px;
    --type-body-s-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-body-s-lh: 24px;
    --type-body-xs-size: calc(var(--font-size-multiplier, 1) * 14px);
    --type-body-xs-lh: 21px;
    --type-body-xxs-size: calc(var(--font-size-multiplier, 1) * 12px);
    --type-body-xxs-lh: 18px;
    --type-detail-all-weight: 700;
    --type-detail-all-transform: uppercase;
    --type-detail-xl-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-detail-xl-lh: 25px;
    --type-detail-l-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-detail-l-lh: 20px;
    --type-detail-m-size: calc(var(--font-size-multiplier, 1) * 12px);
    --type-detail-m-lh: 15px;
    --type-detail-s-size: calc(var(--font-size-multiplier, 1) * 10px);
    --type-detail-s-lh: 12px;
    --grid-container-width: 83.4%;
    --grid-column-width: calc(var(--grid-container-width) / 12);
    --grid-margins-width: calc((100vw - var(--grid-container-width)) / 2);
    --grid-margins-width-10: calc((100vw - (var(--grid-column-width) * 10)) / 2);
    --grid-margins-width-8: calc((100vw - (var(--grid-column-width) * 8)) / 2);
    --grid-margins-width-6: calc((100vw - (var(--grid-column-width) * 6)) / 2);
    --aspect-ratio-square: 1/1;
    --aspect-ratio-standard: 4/3;
    --aspect-ratio-wide: 16/9;
    --icon-size-xxl: 80px;
    --icon-size-xl: 64px;
    --icon-size-l: 56px;
    --icon-size-m: 40px;
    --icon-size-s: 32px;
    --icon-size-xs: 24px;
    --icon-size-xxs: 16px;
}
body {
    display: block;
    font-family: var(--body-font-family);
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    opacity: 1 !important;
}
.con-button {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    border-radius: 25px;
    font-size: 19px;
    line-height: 24px;
    min-height: 28px;
    padding: 10px 24px 8px;
}
.con-button.blue {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}
.section:has(.hero){
    background: var(--color-bg-gradient-circle);
} 
.section:has(h1) h1{
    font-size: var(--type-heading-xxl-size);
    line-height: var(--type-heading-xxl-lh);
} 
.hero {
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.hero > div {
    max-width: 800px;
}
.action-area {
    margin-top: 32px;
}
.hero p {
    font-size: 24px;
    line-height: 32px;
    margin: 12px 0;
}
.brick {
    padding: var(--type-detail-xl-size);
    text-align: center;
}
.brick p, .brick:has(h3) h3{
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
    margin: var(--type-detail-s-lh) 0;
    font-weight: normal;
}   
.brick p:nth-child(2){
    font-size: var(--type-heading-l-size);
    line-height: var(--type-heading-l-lh);
    text-align: center;
    font-weight: var(--type-heading-all-weight);
}
.title {
    text-align: center;
    font-size: 20px;
}
.price {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.description {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
}
.masonry {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 50px;
    gap: var(--spacing-m);
    max-width: 1000px;
}
.masonry > div {
    background: var(--color-bg-brick-triple-orange);
}
.masonry > div:first-child{
    background: var(--color-bg-brick-triple-offWhite);
}
.masonry > div:last-child{
    background: var(--color-bg-brick-triple-green);
}
.faq {
    max-width: 1000px;
    margin: 20px auto;
    border-bottom: 1px solid #ccc;
}
.faq-set .question:hover:not(.faq-set .question:hover:has([aria-expanded="true"].faq-question-button)){
    background-color: var(--color-gray-100);
    cursor: pointer;
}
.faq .question {
    border-top: 1px solid #ccc;
    padding: 8px;
}
.faq .question:has(h3) h3  {
    font-size: var(--type-body-l-size);
    line-height: var(--type-body-m-lh);
    font-weight: 700;
    margin-right: var(--grid-margins-width-6);
}
.faq .answer {
    padding: 0 8px;
}
.faq .faq-question-button{
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: -ms-flexbox;
    font-family: inherit;
    margin: 0;
    position: relative;
    text-align: start;
    text-overflow: ellipsis;
    width: 100%;
}
.faq .faq-question-button::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 11px;
    border-top: 2px solid;
    border-right: 2px solid;
    right: 12px;
    top: 6px;
    transform: rotate(225deg);
    transition: transform .2s ease-in-out;
}
.faq .answer p {
    margin-top: 0;
}
.faq [aria-hidden="true"]{
    height: 0;
    overflow: hidden;
    transition: height .2s ease-in-out;
}
.open {
    display:block;
    transition: height .1s ease-in-out;
}

.faq .faq-question-button:is([aria-expanded="true"])::after{
    transform: rotate(135deg);
    transition: transform .1s ease-in-out;
}

.banner {
    background-color: #eee;
    padding: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    width:100%;
    bottom: 0;
    z-index: 1000;
}
.banner .con-button.blue {
    margin-left: 8px;
    font-size: 18px;
    padding: 4px 12px;
}
.section:last-child {
    margin-bottom: 100px;
}
.con-button.blue:hover, .con-button.blue:active {
    background: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
    color: var(--color-white);
}

@media screen and (max-width: 599px){
   .action-area{
    display: flex;
    gap: var(--spacing-s);
    flex-flow: column wrap;
    align-items: stretch;
   }
   .masonry{
    grid-template-columns: repeat(1, 1fr);
   }
   .banner {
    flex-direction: column;
   }
}
@media screen and (min-width: 600px) {
    .action-area {
        align-items: center;
        flex-direction: row;
    }
    .double{
        grid-column: span 2;
    }
    .triple{
        grid-column: span 3;
    }
    .action-area > *:not(:last-child) {
        margin-right: 12px;
    }
}